<%- include("../partials/header") %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center">Add New Comment to <%= campground.name %></h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
                <div class="form-group">
                    <textarea class="form-control" name="comment[text]" placeholder="Text" required></textarea>
                </div>
                <!-- <div class="form-group">
                    <input class="form-control" type="text" name="comment[author]" placeholder="Author">
                </div> -->
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/campgrounds">Go Back</a>
        </div>
    </div>
</div>
<% include("../partials/footer") %>



<!-- <form action="/campgrounds/<%= campground._id %>/comments" method="POST" class="form-horizontal" action="" style="width: 50%; margin-top: 10px;">
    <div class="form-group">
      <label class="control-label col-sm-2">Comment:</label>
      <div class="col-sm-10">
        <textarea class="form-control" name="comment[text]"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">Author:</label>
      <div class="col-sm-10">
        <input type="author" class="form-control" placeholder="Your Name" name="comment[author]">
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Add new Comment</button>
      </div>
    </div>
</form> -->